/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER STYLES */

.header {
    margin: auto;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #50617a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

nav h2 {
    padding-left: 5vw;
    font-weight: 400;
    color: white;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a {
    color: white;
    font-weight: 300;
}

#active {
    font-weight: bold;
}

.underline-effect {
    display: inline-block;
    position: relative;
}

.underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: width 0.25s ease-in-out;
}

.underline-effect:hover::before {
    width: 100%;
}

/* Styling for if I want to add a button later */
/* button{
    border: none;
    padding: 10px 20px;
    border-radius: 20 px;
    background: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    font-size: 16px;
} */

/* MAIN */

.first-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 200px;
}

.intro h1 {
    font-family: 'Playfair Display';
    font-size: 36px;
    width: 400px;
    padding-right: 3%;

}

.intro p {
    position: relative;
    top: 8px;
    word-wrap: break-word;
    width: 350px;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.second-section {
    display: block;
    padding-top: 80px;
    margin-left: 10%;
}

.gallery {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 1200px;
    gap: 10px;
}

.gallery a {
    text-align: center;
}

#first {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;

}

#first:hover,
#second-project:hover,
#third-project:hover,
#fourth-project:hover {
    content: '';
    opacity: 40%;
    transition: 0.3s ease-out;
}

.third-section {
    padding-top: 80px;
    margin-left: 10%;
}

.third-section ul {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;

}

.third-section ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    gap: 100px;
    padding-bottom: 80px;
}

.third-section ul p span {
    font-weight: bold;
}

/* FOOTER */
footer {
    padding: 3%;
    text-align: center;
    color: white;
    height: 100px;
    background-color: #50617a;
}

/* Responsive Styles*/

@media screen and (max-width:1150px) {
    .first-section {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        align-items: center;
        margin-top: 100px;
        min-width: 300px;
    }
    .gallery a img{
        min-width: 300px;
    }
}   

@media screen and (max-width: 980px){
    .gallery {
        grid-template-columns: 1fr;
    }
}